spring:
  application:
    name: ms-product

  datasource:
    url: jdbc:h2:mem:productdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
